

   <nav class="navbar navbar-expand-lg navbar-light">
       <h4>PiAndAll</h4>

   <div class="container-fluid justify-content-md-end">
    
        <a class="btn btn-warning m-3" href="/">Home</a>
        <a class="btn btn-danger m-3" href="/auth/parentlogout">Logout</a>
<form action="/parentprofile/showstudent" method="post">
           <button class="btn btn-primary" type="submit">Show Student</button>
</form>
      
   </div>
       
   </nav>

       

    <div class="container">
        <h1>Welcome {{user.parentName}}</h1>
        
    </div>
    
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h3>Add Student</h3>
                <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input required type="text" class="form-control" id="name" name="usernameStudent">
            </div>
          
           <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" class="form-control" id="password" name="passwordStudent">
            </div>
             <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input required type="password" class="form-control" id="confirmPassword" name="confirmPasswordStudent">
            </div>
            <div class="mb-3">
                <label for="studentFirstName" class="form-label">First Name</label>
                <input required type="text" class="form-control" id="studentFirstName" name="studentFirstName">
            </div>
            <div class="mb-3">
                <label for="studentLastName" class="form-label">Last name</label>
                <input required type="text" class="form-control" id="studentLastName" name="studentLastName">
            </div>
            <div class="mb-3">
                <input required type="hidden" class="form-control" id="idparents" name="idparents" value="{{user.idparents}}">
            </div>
            <button type="submit" class="btn btn-success" id="parentSubmit">Register Student</button>
        </div>
        
    <h6 class="text-center">Note : You cannot add more than 5 students.</h6>
    </div>

    <div id="showing_student">{{usernameStudent}}</div>

    <br><br><br><br>

{{!-- This is a hardcoded one. and the data should be fetched from database for every student in the loop --}}
  <div class="container">
        {{#if users}}
         {{#each users}}
         <div class="card-header">
            <div class="card-body">
                <p class="card-title">{{usernameStudent}}</p>
                <div class="mb-3">
                </div>
                <br>
                 <form action="/parentprofile/managegoals" method="post">
               <input required type="hidden" class="form-control" id="idparents" name="idstudent" value="{{idstudent}}">
               <input required type="hidden" class="form-control" id="usernameStudent" name="usernameStudent" value="{{usernameStudent}}">
                 <button class="btn btn-primary" type="submit">Select/Manage Goals</button>
              </form>
                <a href="" class="btn btn-warning">Update Password</a>
             
            </div>
        </div>
        {{/each}}
        {{else}}
        <h1>No student added</h1>
        {{/if}}


    </div>
<script src="/js/parent.js"></script>